body,
html {
  height: 100%;
  background-image: url("../images/ales-me-663246-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: "Alex Brush", cursive;
  font-size: 7em;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0.07em 0.07em 0 rgba(143, 141, 141, 0.1);
  margin-bottom: 0px;
}
h2 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  color: #722f37;
  text-shadow: 0.03em 0.03em 0 rgba(245, 243, 243, 0.1);
  text-align: center;
}
#title {
  float: right;
  margin-top: 140px;
  margin-right: 20px;
  padding-right: 40px;
}
.nav-link {
  color: #722f37;
  font-family: "Cinzel", serif;
  font-size: 14px;
}
img {
  width: 120px;
  height: 40px;
}
img:hover {
  transform: rotate(35deg);
}

.separator {
  width: 0px;
  background-color: rgba(112, 110, 110, 0.432);
  height: 2px;
  animation: separator-width 2s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@media all and (max-width: 720px) {
  #title h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 5em;
  }
}
